* {
  box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  font-size: 5em;
  color: #ffa8a9;
}

h2 {
  text-align: left;
  padding-left: 1em;
}

h3 {
  color: #f4d6cc;
}

.theTitle {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 10em;
}

div {
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100vw;
  border: 1px white solid;
}

.intro {
}

.contact {
}

.projects {
}

.theCards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  height: 100%;
}

.MuiCard {
  text-align: left !important;
  border-radius: 50px !important;
  width: 10em;
  height: 10em;
}

.buttons:hover {
  outline: pink solid 0.5px;
  background-color: pink !important;
}

.buttons {
  justify-content: center !important;
  color: black !important;
  outline: solid 1px pink;
  transition: color 0.2s, outline 0.2s; /* Add transition properties */
}

.MuiCard:hover {
  box-shadow: -30px 30px 20px rgba(30, 30, 30, 0.156);
}
