* {
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
  color: #ffa8a9;
}

h2 {
  text-align: left;
  padding-left: 1em;
  color: #ffa8a9;
  font-size: 2em;
}
h3 {
  color: #f4d6cc;
}

h5 {
  color: #f4d6cc;
  padding-left: 2em;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 60%;
}

h4 {
  color: #f4d6cc;
  text-align: center;
  justify-content: center;
}

h1:hover {
}

footer {
  text-align: center;
  justify-content: center;
  color: #f4d6cc;
}

big {
  font-size: 35px;
  background-color: #8693ab;
}

.theTitle {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 10em;
}

.intro {
  height: 100vh;
  width: 100vw;
}

.about {
  height: 100vh;
  width: 100vw;
  margin-bottom: 1em;
}

.aboutMeText {
  text-align: left;
  background-color: #8693ab;
  padding-left: 1em;
  justify-content: left;
  padding-right: 1em;
  width: 50%;
  border-radius: 10px;
  margin-bottom: 1em;
}

.spotifysong {
  margin-right: 1em;
  padding-left: 1em;
}

.aboutMeDivs {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contact {
  height: 100vh;
  width: 100vw;
  text-align: center;
  margin-bottom: -5em;
}

.contactInfo {
  padding-top: 5em;
}

.projects {
  height: 100vh;
  width: 100vw;
}

.multimedia {
  width: 100vw;
}

.scrolltotop {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999; /* Adjust the z-index value */
}

.theCards {
  height: 100%;
  width: 100%;
}

.social {
  padding-top: 1em;
  display: flex;
  justify-content: space-evenly;
}
ul {
  list-style-type: none;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .social {
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
  }
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1em;
  }

  big {
    font-size: 1.5em;
  }

  .spotifysong {
    width: 30em !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  big {
    font-size: 1.5em;
  }

  h5 {
    padding-left: 1em;
  }
  .social {
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  .aboutMeDivs {
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
  }

  .aboutMeText {
    width: 90vw;
  }

  .spotifysong {
    display: none;
  }

  .spotTitle {
    display: none;
  }

  .about {
    padding-bottom: 5em;
  }
}
