* {
  box-sizing: border-box;
}

h1 {
  font-size: 5em;
  color: #ffa8a9;
}

h2 {
  text-align: left;
  padding-left: 1em;
  color: #ffa8a9;
  font-size: 2em;
}
h3 {
  color: #f4d6cc;
}

h5 {
  color: #f4d6cc;
  padding-left: 2em;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  background-color: #8693ab;
  width: 60%;
}

h4 {
  color: #f4d6cc;
  text-align: center;
  justify-content: center;
}

h1:hover {
}

footer {
  text-align: center;
  justify-content: center;
  color: #f4d6cc;
}

.theTitle {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 10em;
}

.intro {
  height: 100vh;
  width: 100vw;
}

.contact {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.projects {
  height: 100vh;
  width: 100vw;
}

.multimedia {
  width: 100vw;
}

.scrolltotop {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999; /* Adjust the z-index value */
}

.theCards {
  height: 100%;
  width: 100%;
}

.social {
  padding-top: 1em;
  display: flex;
  justify-content: space-evenly;
}

.contactInfo {
  font-size: 1.5em;
  padding-top: 5em;
}

.about {
  height: 100vh;
  width: 100vw;
}

.aboutMeText {
  width: 50%;
  background-color: #8693ab;
}

.aboutmeDivs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  padding: 0;
}
